snippet coauth
Co-authored-by: ${1:name} <${2}>
endsnippet

snippet cog
Co-authored-by: ${1:name} <${2}@gmail.com>
endsnippet

snippet cor
Co-authored-by: ${1:name} <${2}@resultadosdigitais.com.br>
endsnippet
